In [1]:
import nglview as nv
import numpy as np
import MDAnalysis as mda
import MDAnalysisData

u = mda.Universe('MD_files/nvt_25ns.gro', 'MD_files/nvt_25ns.xtc')

u.transfer_to_memory(step=100)
protein_P = u.select_atoms("resname SOL and name OW and resid 0:5000")

view = nv.show_mdanalysis(u)
view.add_unitcell()
view.control.rotate(
    mda.lib.transformations.quaternion_from_euler(
        -np.pi/2, np.pi/3, np.pi/6, 'rzyz').tolist())
view.control.zoom(-0.3)
view

NGLWidget(max_frame=37)

In [15]:
protein_P = u.select_atoms("resname SOL and resid 11100:11110 or resname OEX or resname WON WTW WTH WFO ")

view = nv.show_mdanalysis(protein_P)

view.add_ball_and_stick('_O', color='cyan')

view.add_line()
view.add_licorice('5')
view.add_label('5', labelType='atomname')

view

NGLWidget(max_frame=37)

## Reference Dataframe

In [6]:
import pandas as pd
finalgro=pd.read_pickle('MD_files/WaterIDs.pkl')
finalgro[14:20]

,Resname,serial,name,altloc,somenum,chainid,x,y,z,OldResNumBeforeIONS,OriginalXTALChainID,OriginalXTALResid,BETTERID
435058,11100.0,SOL,OW,5.0,59,NaN,8.466,4.275,5.962,7911.0,G,26,26
435061,11101.0,SOL,OW,5.0,62,NaN,8.363,4.409,6.131,7912.0,G,27,27
435064,11102.0,SOL,OW,5.0,65,NaN,8.547,4.488,5.824,7913.0,G,28,28
435067,11103.0,SOL,OW,5.0,68,NaN,8.489,4.762,5.896,7914.0,G,29,29
435070,11104.0,SOL,OW,5.0,71,NaN,8.288,4.677,6.105,7915.0,G,30,30
435073,11105.0,SOL,OW,5.0,74,NaN,7.967,4.544,6.235,7916.0,G,31,31